<div style="text-align: center;">

  <h2>Doctors Details</h2>
  <table border="1" align="center">
    <thead>
      <th>Name</th>
      <th>Title</th>
      <th>Specialties</th>
      <th>Insurances</th>
      <th>PCP</th>
    </thead>
    <tbody>
      <tr  valign="top">
        <td><%= @doctor.name %></td>
        <td><%= @doctor.title %></td>
        <td align="left">
          <ul>
            <% @doctor.specialties.each do |specialty| %>
              <li><%= specialty %></li>
            <% end %>
          </ul>
        </td>
        <td align="left">
          <ul>
            <% @doctor.insurances.each do |insurance| %>
              <li><%= insurance %></li>
            <% end %>
          </ul>
        </td>
        <td> <%= @doctor.primary_care_physician ? 'Yes' : 'No' %> </td>
      </tr>
    </tbody>
  </table>
</div>
